body {
    background-color: "#000020";
}
p {
    text-align: center;
    color: white;
    font-family: "Arial"
}

#container {
    text-align: center;
    width: 98vw;
    margin: 0 auto;
}}

#game {
    display: inline-block;
}

 /* unvisited link */
a:link {
    color: aqua;
}

/* visited link */
a:visited {
    color: aqua;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: blue;
}