body {
    background-color: black;
    margin: 0px;
}
#status {
    text-align: center;
    color: white;
    font-family: "Arial"
}

#sharebutton {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align:right;
    margin:4px auto 4px auto;
    float: right;
    z-index: 10;
}
#container {
    text-align: center;
    height: 100vh;
    max-height: 100vh
    min-height: 100vh
    margin: auto auto;
    position: relative;
}

/* unvisited link */
a:link {
    color: aqua;
}

/* visited link */
a:visited {
    color: aqua;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: blue;
}