body {
    background-color: black;
}
p {
    text-align: center;
    color: white;
    font-family: "Arial"
}

#version {
    text-align:left;
    color: gray;
    margin:4px auto 4px auto;
    float: left;
}

#sharebutton {
    text-align:right;
    margin:4px auto 4px auto;
    float: right;
}

#container {
    text-align: center;
    width: 99vw;
    margin: 0 auto;
}}

#game {
    display: inline-block;
}

 /* unvisited link */
a:link {
    color: aqua;
}

/* visited link */
a:visited {
    color: aqua;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: blue;
}